a {
	color: $col-link;
	cursor: pointer;
	text-decoration:none;
	&:visited {

	}
	&:hover {
		color: $col-link-hover;
	}
	&:active {
		
	}
	&:focus {
		
	}
	/* Improve readability when focused and hovered in all browsers: h5bp.com/h */
	&:focus,
	&:active {
		outline: none;
	}
}

h1 a, h2 a, h3 a, h4 a, h5 a, h6 a,
.h1 a, .h2 a, .h3 a, .h4 a, .h5 a, .h6 a {
	color: $col-header;
}