input[type=text],
input[type=email],
input[type=tel],
input[type=url],
input[type=search],
input[type=submit] {
	appearance: none;
	border-radius: 0;
}

input, 
textarea {
	border: 1px solid $col-black;
	border-radius: 0.125rem;
	display: inline-block;
	font-family: $font-stack-base;
	font-size: $font-size-base;
	margin: 0 0 1.5rem;
	outline: none;
	padding: 1rem;
	width: 100%;
}

.e-input {

	&--checkbox,
	&--radio {
		margin-right: 0.3rem;
		width: auto;
	}

	&--checkbox {
		
	}

	&--submit {
		background: $col-black;
		border: none;
		color: $col-white;
		cursor: pointer;
		display: inline-block;
		padding: 1rem;
		width: auto;

		&:hover {
			background: #e2766f;
		}
	}
}

.e-label {
	display: inline-block;
	margin-bottom: 0.5rem;
}

.e-legend {
	display: inline-block;
	margin-bottom: 1rem;
}